.button{
    background-color:#FF5C87;
    padding: 10px 20px;
    position: relative;
   border-radius: 50px;
   border: none;
   outline: none;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   color: white;
   font-size: 18px;
   font-weight: bold;
   cursor: pointer;
   transition: all .3s ease-in-out;
}

.button:hover{
    background-color: #c94064 ;
}
